<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>
</head>
<body class="container mt-10">
    <center><h1 class="gn-str">Welcome To my WEbsite</h1>
    <button id="get_form" class="btn btn-get-form" >Get Registeratin Form</button>
    <button id="get_users" class="btn btn-get-user">Get Users</button>
    <div id="dynamic">
    </div>
</center>
    <!-- <script type="module" src="static/regform.js"></script> -->
    <script type="module" src="static/js/app.js"></script>
</body>
</html>